
<!-- todo: expand the container width -->

<div class="container">

  <!-- watch out -->
  <div class="row no-gutters">

    <div class="col-sm-3 sidebar">

      <!-- todo: set this as an unordered list -->

      <div class="card">
        <div class="card-body">

          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link active" href="#">Offers</a>
            </li>
            <li class="nav-item">
              <a class="nav-link">Applicants</a>
            </li>
          </ul>

        </div>
      </div>

    </div>

    <div class="col-sm-9">

      <!-- todo: set this as an auxiliary route -->

      <nav class="navbar navbar-light navbar-expand-md nav-header">

        <!-- todo: change this container to a nav tab -->

        <div class="navbar-nav mr-auto"></div>
        <div class="navbar-nav">
          <a><i class="fa fa-bell-o"></i></a>
        </div>

        <!-- todo: increase the size of the user icon -->

        <div class="navbar-nav">
          <a><i class="fa fa-user-circle-o icon fa-lg"></i> </a>
        </div>

      </nav>

      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link active small" href="#">Active</a>
        </li>
        <li class="nav-item">
          <a class="nav-link small">Inactive</a>
        </li>
      </ul>

      <router-outlet></router-outlet>

    </div>

  </div>
</div>

