// todo: set "dynamically" a different background in the login component
/deep/ .modal-backdrop.show {
  opacity: 0.4;
  background: #e0e0e0;
}

.left-padding {
  padding-left: 3em;
  padding-top: 1em;
}

