<div class="container-fluid bg-no-overlay">
  <div class="row">
  </div>
</div>

<div class="container">

  <div class="row">

    <div class="col-xs-12 col-sm-8">
      <p> A list listing all the organizations !</p>

      <ul class="list-group">
        <li class="list-group-item" *ngFor="let empresa of empresas">
          <h4 class="display-4">{{empresa.name}}</h4>
          <small>id_ {{empresa._id}}</small>
        </li>
      </ul>
    </div>

    <div class="col-xs-12 col-sm-4">
      <p> Some kind of banner on the right side !</p>
    </div>

    <div class="col-xs-12">
      <div [hidden]="empresas || errMess">
        <h4>Stand by</h4>
      </div>
    </div>

    <div class="col-xs-12">
      <div *ngIf="errMess">
        {{errMess}}
      </div>
    </div>

  </div>

</div>
