.bg-no-overlay {
  background: url("paper-folds.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  color: #fff;
  height: 425px;
  padding-top: 50px;
}
