<app-header></app-header>

<div class="container-fluid">
  <div class="jumbotron">
    <div style="text-align:center">
      <h1 class="display-3">Bolsa de Empleos</h1>
      <p class="lead">Para el departamento de Ingenieria de Sistemas de la Universidad de Antioquia</p>
    </div>
  </div>
</div>

<div class="container">

  <div class="row">

    <div class="col-xs-12 col-sm-8">
      <p> A list listing all the organizations !</p>

      <ul class="list-group">
        <li class="list-group-item" *ngFor="let company of companies">
          <h4 class="display-4">{{company.companyName}}</h4>
          <small>id_ {{company._id}}</small>
        </li>
      </ul>
    </div>

    <div class="col-xs-12 col-sm-4">
      <p> Some kind of banner on the right side !</p>
    </div>

    <div class="col-xs-12">
      <div [hidden]="companies || errMess">
        <h4>Stand by</h4>
      </div>
    </div>

    <div class="col-xs-12">
      <div *ngIf="errMess">
        {{errMess}}
      </div>
    </div>

  </div>

</div>
