
<!-- todo: expand the container width -->

<div class="container">
  <div class="row">

    <div class="col-sm-3 sidebar">

      <!-- todo: set this as an unordered list -->

      <div class="card">
        <div class="card-body">

          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link active" href="#">Ofertas</a>
            </li>
            <li class="nav-item">
              <a class="nav-link">Aplicantes</a>
            </li>
          </ul>

        </div>
      </div>

    </div>

    <div class="col-sm-9">

      <nav class="navbar navbar-light navbar-expand-md nav-header">

        <!-- todo: change this container to a nav tab -->

        <div class="navbar-nav mr-auto"></div>
        <div class="navbar-nav">
          <a><i class="fa fa-bell-o"></i></a>
        </div>

        <!-- todo: increase the size of the user icon -->

        <div class="navbar-nav">
          <a><i class="fa fa-user-circle-o icon fa-lg"></i> </a>
        </div>

      </nav>

      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link active small" href="#">Active</a>
        </li>
        <li class="nav-item">
          <a class="nav-link small">Inactive</a>
        </li>
      </ul>

        <div class="card dashboard">
          <div class="card-body">

            <!-- here goes a nested router link -->

            <h1 class="display-4">
              Dashboard is private !
            </h1>
            <p class="lead">This is a place holder. You are now logged in as an organization user</p>
          </div>
        </div>

    </div>

  </div>
</div>

