
<!-- todo: expand the container width -->

<div class="container">
  <div class="row">

    <div class="col-sm-3 sidebar">

      <div class="card">
        <div class="card-body">

          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link active" href="#">Ofertas activas</a>
            </li>
            <li class="nav-item">
              <a class="nav-link">Historial</a>
            </li>
            <li class="nav-item">
              <a class="nav-link">Aplicantes</a>
            </li>
          </ul>

        </div>
      </div>

    </div>

    <div class="col-sm-9">

      <nav class="navbar navbar-light navbar-expand-md nav-header">

        <div class="navbar-nav mr-auto"></div>
        <div class="navbar-nav">
          <a> ProfilePic </a>
        </div>

      </nav>

      <div class="jumbotron">
        <h1 class="display-4">
          Dashboard is private !
        </h1>
        <p class="lead">This is a place holder. You are now logged in as an organization user</p>
      </div>
    </div>

  </div>
</div>

<!--
<div class="container">
  <div class="jumbotron">
    <h1 class="display-4">
      Dashboard is private !
    </h1>
    <p class="lead">This is a place holder. You are now logged in as an organization user</p>
  </div>
</div>
-->
